<footer>
    <p> Created by {{name}} </p>
    <a href="https://www.linkedin.com/in/ahmed-hatem-515751180" target="_blank">
        <img alt="linkedin" src="./images/linkedin.png" height="25" width="25">
    </a>
</footer>