

<header>
    <h1> The Weather App </h1>
    <h2> {{title}} </h2>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    {{!-- No need for help page --}}
    {{!-- <a href="/help">Help</a> --}}
</header>