<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class = "main-content">
            {{>header}}
            <img class="portrait" src="/images/mylo.JPG">
            <p> This is just one of the small projects that I did with node, it utilises handlebars, mapbox's geocoding API and weatherstack's weather API. </p>
        </div>
        
        {{>footer}}
    </body>

</html>